page-home {



    .hero-text{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 4vh;
        font-weight: 900;
        color: black;

        padding-left: 3%;
        padding-right: 3%;


        h4{
            padding: 0;
            margin: 0;
        }
    }


}
